.student-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 25px;    
    margin: 20px auto;
}

.student-container header {
    display: flex;
    align-items: center;
}

.student-container header span {
    font-size: 20px;
    margin-left: 25px;
}

.student-container header span strong {
    color: #333;
}

.student-container header img {
    height: 70px;
}

.student-container header a {
    width: 250px;
    margin-left: auto;
    margin-top: 0;
}

.student-container header button {
    height: auto;
    width: 30px;
    border: none;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.5s;
}

.student-container h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.student-container hr {
    margin-bottom: 35px;
}

.student-container ul {
    display: grid;
    padding: 0 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    list-style: none;
}

.student-container ul li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    font-size: 16px;
}

.student-container ul li button {
    border: 0;
    background: transparent;
}

.student-container ul li button + button {
    top: 80px;
}

.student-container ul li button:hover {
    opacity: 0.8;
}

.student-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.student-container ul li p + strong {
    margin-top: 32px;
}

.student-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.student-container ul li b {
    font-weight: bold;
}

.student-container ul li hr {
    margin: 20px 0;
}

.button-container {
    display: flex; /* Aligns child elements in a row */
    gap: 10px;      /* Adds space between the buttons */
    /* Optional properties for alignment within the container: */
    justify-content: center; /* Centers buttons horizontally */
    align-items: center;     /* Centers buttons vertically */
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    
    background-color: #60A9DB;
    color: white;
    text-decoration: none;
    border: 1px solid #5698C5;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.button-link:hover {
    background-color: #5698C5;
}

.button-link:active {
    transform: translateY(1px);
}
