.student-container {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.student-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
} 

.student-container header img {
  height: 50px;
} 

.student-container header button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #dcdce6;
  transition: border-color 0.5s;
  padding: 10px 20px;
  font-size: 16px;
} 

.student-container header button:hover {
  border-color: #aaa;
  cursor: pointer;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  text-align: center;
}

table button {
  width: 70px !important;
}

table .action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

